section {
    width: 100%;
    display: block;
    position: relative;
}
section .title {
    display: block;
    text-align: center;
    padding: 50px 0 0;
    margin: 0 0 50px;
}
section h2 {
    text-align: center;
    padding: 20px 40px 20px;
    width: 30%;
    margin: 0 auto 50px;
    box-shadow: 0 6px 6px -1px rgba(0,0,0,.3) ;
    
    font-family: codebold;
    font-size: 24px;
    line-height: 24px;
}
#x {
    /*position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    background-color: dodgerblue;
    opacity: 0.6;*/
}


#content-1 {
    display: block;
    width: 80%;
    margin: 40px auto;
}
#content-1 .container {
    display: block;
    width: 100%;
    display: flex;
}
/* == C-Texto == */
#content-1 .container .text {
    display: block;
    width: 50%;
    padding: 20px 20px 0 0;
}

#content-1 .container .text hgroup {
    display: block;
    padding: 20px 0;
}
#content-1 .container .text hgroup h4 {
    display: block;
    font-size: 14px;
    color: gray;
    font-weight: lighter;
}
#content-1 .container .text hgroup h3 {
    display: block;
}

#content-1 .container .text span {
    display: block;
    height: 3px;
    width: 20%;
    background: black;
}
#content-1 .container .text p {
    display: block;
    margin: 20px 0;
    
    font-family: 'Roboto';
}

/* == C-Imagenes == */
#content-1 .container .c-img {
    display: block;
    position: relative;
    width: 50%;
    height: 328px;
}
#content-1 .container .c-img img {
    display: block;
    width: 480px;
    height: 300px;
    margin-left: auto;
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 0% 50%);
}
#content-1 .container .c-img span {
    display: block;
    width: 20%;
    height: 3px;
    background: black;
    margin: 5px 0 0 auto;
}
#content-1 .container .c-img p {
    display: block;
    margin: 6px 0 0;
    text-align: end;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    
    font-family: latolight;
}

/* === 2 container === */
#content-1 .container .text2 {
    padding: 20px 0 0 20px;
}
#content-1 .container .text .hgroup2 {
    text-align: center;
}
#content-1 .container .text .span2 {
    margin: 0 auto;
}
#content-1 .container .text .p2 {
    text-align: center;
}

#content-1 .container .c-img .img2 {
    margin: 0 auto 0 0;
    clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
}
#content-1 .container .c-img .span2 {
    margin: 5px auto 0 0;
}
#content-1 .container .c-img .p2 {
    text-align: start;
}