/* ===== Titulo de la pagina =====*/
section .title {
    display: block;
    text-align: center;
    padding: 50px 0 0;
    margin: 0 0 50px;
}
section .title h2 {
    text-align: center;
    padding: 20px 40px 20px;
    width: 30%;
    margin: 0 auto 40px;
    box-shadow: 0 6px 6px -1px rgba(0,0,0,.3) ;
    
    font-family: codebold;
    font-size: 24px;
    line-height: 24px;
}

/* ===== Presentación de la pagina =====*/
section .portada {
    display: flex;
    width: 80%;
    height: 362px;
    margin: 0 auto;
}
/* == Lado Izquierdo ==*/
section .portada .left {
    width: 50%;
}

section .portada .left .enter {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 40px;
}
section .portada .left .enter h2 {
    font-size: 24px;
    line-height: 24px;
}
section .portada .left .enter p {
    padding-left: 20px;
    font-size: 14px;
    line-height: 18px;
}

section .portada .left article {
    position: relative;
    box-shadow: 0 0 4px -2px;
    margin-bottom: 20px;
    padding: 15px;
}
section .portada .left article:hover {
    box-shadow: 0 0 7px rgba(0,0,0,.7);
}
section .portada .left article a {
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
    text-decoration: none;
    color: crimson;
}
section .portada .left article hgroup {
    display: flex;
    justify-content: space-between;
}

section .portada .left article h2 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 5px;
    cursor: pointer;
}
section .portada .left article h3 {
    font-size: 22px;
    line-height: 22px;
    font-weight: lighter;
    padding: 5px 10px 3px;
    background: crimson;
    color: #fff;
    font-family: carefree;
    text-transform: uppercase;
}
section .portada .left article h4 {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 4px;
    cursor: pointer;
}

section .portada .left article p {
    font-size: 15px;
    line-height: 16px;
    padding-top: 5px;
}

section .portada .left article img {
    width: 200px;
    height: 140px;
    position: absolute;
    top: -10px;
    left: 10px;
    border-radius: 2px;
}
#article1 {
    height: 140px;
    padding: 14px 5px 0 224px;
}
#article1 h2 {
    margin-bottom: 8px
}

/* == Lado Derecho ==*/
section .portada .right {
    width: 50%;
    height: 100%;
    padding-left: 60px;
}
section .portada .right .container {
    position: relative;
    height: 100%;
    width: 100%;
}

section .portada .right img {
    width: 100%;
    height: 100%;
}
section .portada .right p {
    position: absolute;

    bottom: 0;
    left: 0;
    
    width: 100%;
    height: 30%;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: rgba(0,0,0,.5);
    
    box-shadow: 0 -6px 5px rgba(0,0,0,.5);
}

/* ===== Contenido de la pagina =====*/

/* == Noticia grande ==*/
section .border {
    position: relative;
    display: block;
    width: 80%;
    margin: 40px auto 0;
}
section .border .title-c{
    display: block;
    width: 65%;
    margin: 40px auto 30px 0;
    text-align: center;
    font-size: 26px;
    line-height: 26px;
    cursor: default;
}
section .border .ccc{
    margin: 60px auto 30px 0;
}

section .border .large {
    display: block;
    width: 65%;
    box-shadow: 0 0 4px -2px;
    padding: 20px;
}
section .border .large .flex{
    display: flex;
    width: 100%;
    height: 450px;
}
section .border .large:hover {
    box-shadow: 0 0 7px rgba(0,0,0,.7);
}
section .border .large .left {
    display: block;
    width: 50%;
    position: relative;
}
section .border .large .left img {
    display: block;
    height: 400px;
    width: 310px;
}
section .border .large .left img:last-child {
    position: absolute;
    top: 15px;
    left: 15px;
}
section .border .large .right {
    display: block;
    margin-left: 40px;
    width: 50%;
}
section .border .large .right h1 {
    display: block;
    text-align: center;
    font-size: 38px;
    line-height: 28px;
    color: crimson;
    margin-top: 10px;

    font-family: 'Basic', sans-serif;
}
section .border .large .right h2 {
    display: block;
    text-align: center;
    font-size: 22px;
    line-height: 20px;
    margin: 10px 0 16px;
    font-family: latolight;
    font-weight: bolder;
}
section .border .large .right p {
    display: block;
    font-size: 14px;
    line-height: 17px;
    padding: 0 10px;
    word-break: keep-all;
}
section .border .large .right a {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    padding: 10px;
    color: crimson;
    text-decoration: none;
}
section .border .large .autor {
    display: flex;
    width: 100%;
    height: 70px;
}
section .border .large .autor img {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
section .border .large .autor .text {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    cursor: default;
}
section .border .large .autor .text span {
    display: inline-block;
    height: 35px;
    font-size: 18px;
    line-height: 45px;
}
section .border .large .autor .text a {
    display: block;
    width: 80px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    color: crimson;
    cursor: pointer;
}

section .border .entries {
    display: block;
    width: 65%;
    margin: 20px 0;
}
section .border .entries ul {
    display: flex;
    width: 200px;
    justify-content: center;
    margin: 0 auto;
}
section .border .entries ul li{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    text-align: center;
    cursor: pointer;
}
section .border .entries ul li:hover{
    background-color: rgba(0,0,0,.1);
}
#mark {
    background-color: crimson;
    color: #fff;
}

/* ===== Aside =====*/
section .border aside {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
    display: block;
    width: 35%;
    padding: 0 0 0 60px;
}
section .border aside .container{
    display: block;
    width: 100%;
    padding: 30px;
    box-shadow: 0 0 4px -2px;
}
section .border aside .container img {
    display: block;
    width: 100%;
    margin-bottom: 20px
}
section .border aside .container h2 {
    display: block;
    text-align: center;
    font-size: 28px;
    line-height: 28px;
    color: crimson;

    font-family: 'Basic', sans-serif;
}
section .border aside .container h3 {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 18px;

    font-family: latolight;
}
section .border aside .container p {
    display: block;
    font-size: 14px;
    line-height: 18px;
    margin-top: 13px;
    text-align: justify;
}

/* ===== Tweets =====*/
section .border .small {
    display: block;
    position: relative;
    width: 65%;
    margin: 0 0 60px 0;
    padding: 20px 20px 25px;
    box-shadow: 0 0 4px -2px;
}
section .border .small:hover {
    box-shadow: 0 0 7px rgba(0,0,0,.7);
}
section .border .small hgroup {
    display: block;
    margin-bottom: 10px;
}
section .border .small hgroup h3{
    display: inline-block;
    font-size: 19px;
    line-height: 19px;
    padding: 0 15px;
    color: crimson;
    cursor: pointer;
}
section .border .small hgroup h4{
    display: block;
    font-size: 16px;
    line-height: 16px;
    width: 150px;
    cursor: pointer;
}
section .border .small span{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 22px;
    line-height: 16px;
    font-weight: lighter;
    padding: 8px 8px 6px;
    background-color: crimson;
    color: #fff;
    font-family: carefree;
    text-transform: uppercase;
    cursor: default;
}
section .border .small .compartir{
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: -22px;
    padding: 8px 20px;
    box-shadow: 0 0 4px -2px;
    
    transform: translateX(150%);
    
    background-color: #f0f0f0;
    border-radius: 4px;
    cursor: default;
    text-align: center;
}
section .border .small .compartir:hover {
    box-shadow: 0 0 7px rgba(0,0,0,.5);
}
section .border .small .compartir .com{
    margin: 0 12px 0 0;
    width: 20px;
    font-size: 15px;
    vertical-align: middle;
}
section .border .small .compartir a{
    text-decoration: none;
    color: black;
}
section .border .small .compartir a i{
    margin-right: 4px;
    width: 20px;
    font-size: 20px;
    line-height: 20px;
    color: crimson;
    vertical-align: middle;
}

