* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: dejavusans;
}

/* ==== Contenedor general ==== */
/* == H1 == */
@font-face {
  font-family: honeyscript;
  src: url(../fonts/HoneyScript-Light.ttf);
}
/* == H2 == */
@font-face {
  font-family: notcouriersans;
  src: url(../fonts/NotCourierSans.ttf);
}

@font-face {
  font-family: carefree;
  src: url(../fonts/carefree.ttf);
}

@font-face {
  font-family: codebold;
  src: url(../fonts/CODE_Bold.otf);
}
@font-face {
  font-family: dejavusans;
  src: url(../fonts/DejaVuSans.ttf);
}
@font-face {
  font-family: latolight;
  src: url(../fonts/Lato-Light.ttf);
}

@font-face {
  font-family: playball;
  src: url(../fonts/Playball-Regular.ttf);
}

header h1 {
    font-family: honeyscript;
}
header h2 {
    font-family: notcouriersans;
}


#marge {
    width: 100%;
    display: block;
}
.marge {
    margin-top: 100px;
}
.menu {
    transition: all 500ms;
}

.fixed {
    position: fixed;
    width: 100%;
    top: -100px;
    left: 0;
    background: crimson;
}
.hc {
    top: 0px;
}


/* ==== Header ==== */
header {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100px;
    
    background: #fff;
    
    box-shadow: 0 7px 7px -6px rgba(0,0,0,.3);
}
header .container {
    width: 80%;
    margin: 0 auto;
}
/* ==== Header superior ==== */
header .first {
    display: flex;
    width: 100%;
    height: 30px;
    border-bottom: 2px solid #2c2c2c;
    justify-content: space-between;
}
header .first .left {
    display: inline-block;
    width: 50%;
    cursor: default;
}
header .first .left span {
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    
    font-family: latolight;
}
header .first .left i {
    margin-right: 5px;
    font-size: 14px;
    line-height: 30px;
}

header .first .right {
    display: inline-block;
    cursor: pointer;
}
header .first .right a {
    color: black;
    text-decoration: none;
}
header .first .right i {
    margin-left: 10px;
    font-size: 13px;
    line-height: 30px;
}
/* ==== Header inferior ==== */
header .second {
    position: relative;
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
}
header .second hgroup {
    display: inline-block;
    height: 70px;
    padding: 5px 0;
    cursor: default;
}
header .second hgroup h1 {
    font-size: 38px;
    line-height: 38px;
}
header .second hgroup h2 {
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    text-align: center;
    padding-top: 2px;
    text-transform: uppercase;
}


header .second nav ul {
    display: flex;
    list-style: none;
    height: 70px;
}
header .second nav ul li a:hover {
    background: #1c1c1c;
    color: #fff;
}

header .second nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 4px 22px;
    margin: 21px 0px 21px 18px;
    
    font-family: dejavusans;
}

header .second nav ul .button {
    border: 2px solid #2c2c2c;
    border-radius: 2px;
    margin: 18px 0px 20px 18px;
}
header .second nav ul .button a {
    margin: 0px;
    padding: 4px 26px;
}